.threeDotsIcon {
  display: none;
}

.subMenuList {
  display: block;
}

.bannerTextContainer {
  position: absolute;
  top: 150px;
  font-size: 50px;
}

.subMenuItem {
  text-decoration: none;
  color: black;
}

.cardImgContainer {
  transition: all 0.7s;
}

.cardImgAndTextContainer:hover .cardImgContainer {
  transform: scale(1.1);
}

@media screen and (max-width: 850px) {
  .bannerTextContainer {
    top: 120px;
    font-size: 25px;
  }
}

@media screen and (max-width: 650px) {
  .threeDotsIcon {
    top: 120px;
    display: block;
  }

  .subMenuList {
    display: none;
  }

  .bannerTextContainer {
    top: 90px;
    font-size: 25px;
  }
}

@media screen and (max-width: 540px) {
  .bannerTextContainer {
    top: 40px;
    font-size: 20px;
  }
}
