.threeDotsIcon {
  display: none;
}

.subMenuList {
  display: block;
}

.bannerTextContainer {
  position: absolute;
  top: 200px;
  font-size: 50px;
}

.subMenuItem {
  text-decoration: none;
  color: black;
}

.cardImg {
  transition: all 0.7s;
}

.cardImgAndTextContainer:hover .cardImg {
  transform: scale(1.1);
}

.searchAndFilter {
  color: black;
}

.cartTitle {
  font-size: 25px;
}

@media screen and (max-width: 850px) {
  .bannerTextContainer {
    top: 150px;
    font-size: 40px;
  }
}

@media screen and (max-width: 650px) {
  .threeDotsIcon {
    top: 120px;
    display: block;
  }

  .subMenuList {
    display: none;
  }

  .bannerTextContainer {
    top: 110px;
    font-size: 25px;
  }

  .cartTitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 540px) {
  .bannerTextContainer {
    top: 70px;
    font-size: 20px;
  }

  .cartTitle {
    font-size: 16px;
  }
}
